<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trivia Games</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="style.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body background="images/home_background.png">

        <!--top resposive navigation bar begins-->
        <div class="topnav" id="top_nav">
            <% if(typeof user != 'undefined'){ %>
                <a href="javascript:void(0);" id="username_nav" >Hi, <%= user.username %></a>
            <% } %>
            <a href="/" id="home_nav" >Home</a>
            <a href="/leaderboard" id="leader_nav" >Leader Board</a>
            <a href="/newgame" id="game_nav" >New Game</a>
            <a href="javascript:void(0);" id="about_nav" class="active" >About</a>
            <a href="/account" id="my_account_nav" >My Account</a>
            <% if(typeof user != 'undefined'){ %>
                <a href="/question" id="question_nav" >Manage Trivia</a>
            <% } %>
            <% if(typeof user != 'undefined'){ %>
                <a href="/logout" id="log_out" >Log Out</a>
            <% } %>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="changeNavBar()">&#9776;</a>
        </div>
        <!--top resposive navigation bar ends-->

        <!--About section from navigation bar begins-->
        <div id="about_section">
            <div class="text_section">
                <p>
                    This Trivia Game is all about learning while enjoying! You can start a new session of the game anytime, while choosing the number of questions, subject area, difficulty, and question type. Once the quiz is generated you can select the icons below the quiz to proceed to that question. Once that question is answered, a check mark will be displayed on that respective question's icon. Once all questions are answered, your score will be displayed to you.
                </p>
                <br>
                <p>
                    This application is the term project for CSC309: Programming on the Web at the University of Toronto, created by Yuvraj Geet Singh Chopra, Anas Al-Raheem, Shuhan Zheng, Ali Haddad Narafshan.
                </p>
            </div>
        </div>
        <!--About section from navigation bar ends-->

    </body>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="script.js"></script>
</html>
