<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trivia Games</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link href="style.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body background="images/home_background.png">

        <!--top resposive navigation bar begins-->
        <div class="topnav" id="top_nav">
            <% if(typeof current != 'undefined'){ %>
                <a href="javascript:void(0);" id="username_nav" >Hi, <%= current.username %></a>
            <% } %>
            <a href="/" id="home_nav" >Home</a>
            <a href="javascript:void(0);" id="leader_nav" class="active" >Leader Board</a>
            <a href="/newgame" id="game_nav" >New Game</a>
            <a href="/about" id="about_nav" >About</a>
            <a href="/account" id="my_account_nav" >My Account</a>
            <% if(typeof current != 'undefined'){ %>
                <a href="/question" id="question_nav" >Manage Trivia</a>
            <% } %>
            <% if(typeof current != 'undefined'){ %>
                <a href="/logout" id="log_out" >Log Out</a>
            <% } %>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="changeNavBar()">&#9776;</a>
        </div>
        <!--top resposive navigation bar ends-->

        <!--Leader Board section from navigation bar begins-->
        <div class='score_result' id='score_result'>
            <% if(typeof user != 'undefined'){ %>
            <% for (var i=0;i<user.length;i++){ %>
                <label>Username: <%= user[i].username %></label>
                <label> Score: <%= user[i].score %> </label> <br/>
            <% } %>
            <% } %>
        </div>
        <!--Leader Board section from navigation bar ends-->

    </body>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="script.js"></script>
</html>
